.Ma {
    display: flex;
    width: 100%;
    margin: 0;
}

.container {
    text-decoration: none;
    margin: 0;
    width: 100%;
    height: auto;
}

.Row {
    width: 100%;
    height: 12.5vh;
    margin-left: 0px;
}

.row-shop-1.row {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    padding: 20px;
    height: auto;
}

.row-shop-2.row {
    font-family: 'Roboto';
    font-style: Regular;
    font-size: 28px;
    line-height: 16px;
    Line-height: 49%;
    padding: 22px;
    border: 1px solid #000000;
    border-top: 0.2cm;
    border-left: 0.2cm;
    border-right: 0.2cm;
}

.row-s {
    height: 7.5vh;
}

img.search {
    width: 35px;
    height: 35px;
}

.search {
    height: 15vh;
}

.filter-col {
    width: 58px;
    height: 56.23px;
}


.product {
    display: flex;
    margin-bottom: 92px;
    margin-left: 24px;
}

.img {
    width: 127px;
    height: 137px;
    margin-top: 40px;
}

.img-product {
    width: 127px;
    height: 137px;
}

.info-product {
    margin-left: 10px;
}

.title-product {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    color: #000000;
    margin-top: 40px;
}

.price-product {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    color: #000000;
    margin-top: 15px;
    margin-right: 140px;
}

.star-product {
    width: 293px;
    height: 55px;
}

.header-shop {
    border-bottom: 1px solid black;
}

x .link {
    text-decoration: none;
    color: #000000;
}

p.price-product.card-text {
    width: 100%;
}

a.link {
    margin-bottom: 20px;
}

.row-up {
    height: 7.5vh;
}

button#button-addon3 {
    width: 60px;
}